.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  form {
    display: flex;
  }

  main {
    width: 100%;
    text-align: center;

    ul.movie-list {
      display: grid;
      list-style: none;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 25px;
    }
  }
}
